script(src='/js/controllers/footerController.js')

#footer2
	#footInfo.container
		p KAOSgo.2013 | Made by:&nbsp;
		a(href='http://www.nigelmnz.com') NigelMNZ
		p &nbsp;|&nbsp;Comments/Suggestions/Bugs?&nbsp;
		a(href='mailto:nigelmnz@gmail.com') Contact
		p &nbsp;me! |&nbsp;
		.fb-like(data-href='https://www.facebook.com/KillingAsOrganizedSport', data-colorscheme='dark', data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')
		p &nbsp;|&nbsp;Check out the source on&nbsp;
		a(href='https://github.com/Nigelmnz/KAOSgo') GitHub!