#accountModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h2 Profile
      #insideAcctModal.modal-body
      .modal-footer
       button#confirmCall.btn.btn-default(type='button', data-dismiss='modal', style="display: none;") Confirm Player
       button#killCall.btn.btn-default(type='button', data-dismiss='modal', style="display: none;") Kill Player
       button#deathKillCall.btn.btn-default(type='button', data-dismiss='modal', style="display: none;") Target Eliminated 
       button#promoteCall.btn.btn-default(type='button', data-dismiss='modal', style="display: none;") Promote to Death Squad
       button#kickCall.btn.btn-default(type='button', data-dismiss='modal', style="display: none;") Kick Player
       button.btn.btn-default(type='button', data-dismiss='modal') Close
