h1 Overview of KAOS
h3 KAOS is a live-action game of assassins. The premise is simple: Each player recieves a target, whom they must kill using a designated weapon. 
 | (Water Pistol, Spoon, Ect.) Once they kill their target, they will inherit their target's target. If they take too long, a group known as the "Death Squad" will hunt them. 
 | This continues until three players remain, at which point winners are decided.
h1 Guide to Running KAOS
h3 KAOSgo makes running a game of KAOS at your school simple. Just follow these steps and you'll be well on your way to bringing paranoid fun to all.
h2 Step 1 - Understand KAOS
h3 First, you should probably be familiar with the rules of the game. Currently, KAOSgo supports one ruleset, the "Williams Standard" played at Williams College.
  | Just click the button next to the one that opened this, and read up. I'll wait. - Done? Alright, let's continue.
h2 Step 2 - Check With Your School
h3 Before preparing anything, insure that your school will not take issue with the game. Sometimes it's as simple with checking with a dean, or investigating 
 | past games played at the school. If the school will not be happy with the game, listen to them.
h2 Step 3 - Consider Weapons
h3 KAOS is best when weapons are standardized. This eliminates inequality and makes skill the defining factor in success. There two ways to standardize weapons:
 | The first is by shifting responsibility to the players. Dictate the type of weapon to be used. This works best with weapons that all players can access. Examples include spoons, water pistols,
 | single-shot dart guns, ect. The second is by shifting responsibility to yourself. You could buy toy guns wholesale, require a small game entry fee, and distribute them in this way.
 | Both have their advantages, so take time to consider which option is best for you.
h2 Step 4 - Gather Death Squad
h3 KAOS uses a group called the "Death Squad" to enforce the time limits for killing. Thus, you must recruit some of your friends to the task. I suggest having
 | 1 member to every 10 players. Be picky about your Death Squad, as they are very important in keeping the game moving. They should also be willing to assist you in 
 | bringing the game to fruition. Further, remember that Death Squad are allowed to use any weapon they desire. Try to break out the NERF machine guns if you own them.
h2 Step 5 - Consider Finals
h3 Eventually the game will end, and you'll be left with three. I suggest running a special event after KAOS to decide a winner. Scavenger Hunts, Puzzles, Fight-To-The-Death, ect. 
 | I also suggest inviting other players whom you deem worthy. For example, dead players with high kill counts. Alternatively, you could forego a final round and declare a 1st, 2nd, 3rd 
 | place winner. Prizes may also be a consideration. Ultimately, this section of KAOS is completely up to you. Be creative.
h2 Step 6 - Create It!
h3 At this point, create your KAOSgo page. You should probably name it after your school. Prepare the page by editing the "Game Information" with 
 | info relevant to your game. This includes things like the starting date, weapon info, finals info, and confrimation directions. (More on confirmation later.)
 | Get your death squad to join the game, and promote them by clicking their names and pressing "Promote Player". Now we just need players to join!
h2 Step 7 - Advertise, Advertise, Advertise
h3 You'll need players to know that your game exists. Do everything you can to spread your game's link around. Make a poster, and post it everywhere. Use your
 | school's online (or offline) bulletin board to spread the word. Tell all of your friends to get their friends to join. Whatever you can do, do it.
h2 Step 8 - Player Confirmation
h3 Before a player can fully join your game, you must indivdually confirm them. Typically, you want to restrict your game to students of your school. Further, you must insure that
 | players have uploaded sufficent info to KAOSgo to allow for play. (Photo, Dorm Location, ect.) Use this information to weed out potentinal strangers as well.
h2 Step 9 - Keep In Touch
h3 In your "Game Information" you have access to the email addresses for every player. Use it. Keep your players in the loop. You'll also want to use this to send global messages
 | when the game is running. 
h2 Step 10 - Start It!
h3 Once the time comes, start the game by going to "Game Settings". At this point, unconfirmed players will be kicked and targets will be assigned. KAOS has offically begun. 
 | The hard part now is done, and KAOSgo will take care of the rest. However, there's still a few things left to do.
h2 Step 11 - Dealing With Players
h3 You will most likely be contacted by a player at some point during the game. Usually it'll just be a rules question. However, you will sometimes need to handle player conflict. 
 | Talk to both players, and attempt to reach a resolution. If this doesn't work, I suggest killing both players. For added fun, have Death Squad do it.
h2 Step 12 - Finale
h3 That's it! Eventually, the game will finish. If you had plans for a final round, run it. Otherwise, congratulate your players on a game well played, and yourself on a game well run. 
 | If you can, delete the game after you've finished with it. Lastly, if you and your players had fun, consider running another game in the future!
h1 Questions?
h3 If you ever need help or have any questions, contact me! You can find me at the bottom of the page. In any case,
 | you should now be ready to being some KAOS to your school. Be sure to have fun.
