#lostPasswordModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h2 Lost Credentials
      #insideModal.modal-body
       #lostInside
         #lostInfo
          p Can't remember your credentials? Just enter your registered email address, and we'll send you a new password.

         form#lostForm.form-horizontal
          #sec.form-group
            label(for="emailLost-tf").col-md-3.control-label Email Address:
            .col-sm-9
              input(type='text', name='email', id='emailLost-tf', placeholder='Enter your registed email here.').form-control
      .modal-footer
       button#confirmAction.btn.btn-default(type='button', data-dismiss='modal') Submit
       button#cancelAction.btn.btn-default(type='button', data-dismiss='modal') Cancel
