#passwordModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h2 Password Changer
      #insideModal.modal-body
       form#passForm.form-horizontal
        #sec.form-group
          label(for="passchange-tf").col-md-3.control-label New Password:
          .col-sm-9
            input(type='password', name='pass', id='passchange-tf', placeholder='Enter your desired password here.').form-control

        #sec.form-group
          label(for="passconf-tf").col-md-3.control-label Confirmation:
          .col-sm-9
            input(type='password', name='passconf', id='passconf-tf', placeholder='Enter it again.').form-control
      .modal-footer.row#passFooter
       #passError.col-md-7(style="display: none;")
        h4
       button#confirmPass.btn.btn-default(type='button') Change it!
       button#cancelPass.btn.btn-default(type='button', data-dismiss='modal') Close
