#settingsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h2 Account Settings
      #insideModal.modal-body
       #acctSettings
        button#btn-changePass.btn.btn-default(type='button', data-dismiss='modal') Change Password
      .modal-footer
       button.btn.btn-default(type='button', data-dismiss='modal') Close