#williamsStandard.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h2 Williams Standard Ruleset
      #insideModal.modal-body
        #rules
         h1 Overview
         h3 You receive a target, which you must kill. After killing your target, you will then inherit their target.
          | You will also be the target of an unknown player, who is trying to kill you.
          | You can stun your killer by attacking them, rendering them incapable to killing you for 12 hours.
          | Kills and stuns can only occur when no more than one other witness is around. 
         h3 If you don't kill your target within 48 hours,
          | a group known as Death Squad will hunt you. They cannot be killed, and will only be satiated if you kill your target.
          | The game ends when three remain. These three along with a few worthy players may be invited to a finals round
          | separate from this game. Winners will be decided there.
         hr
         h1 Registration
         h2 Confirmation
         h3 Players must be confirmed to play. A player must have an accurate photo and dorm address 
          | in their account information to be verified. In addition, players must use a standard issue weapon to participate.
          | Please check the information for your game for specific details. 
         hr
         h1 Killing and Stunning
         h2 Witness Rule
         h3 Ideally, kills and stuns are made with no witnesses, but a maximum of one witness is allowed. A witness is 
          | any person person present at the exact moment of the kill and within a direct line of sight of either player
          | (although not necessarily looking at the players) with the following exceptions:
         h4 - All glass is considered opaque, so anyone behind glass isn't a witness.
         h4 - Sleeping or unconscious people are not witnesses.
         h3 Note that 'ghosts' (dead players) are not considered witnesses.

         h2 Attacking 
         h3 A game may use either projectile or melee weapons. Rules are similar in both cases. Targets must be hit in the torso or back. 
          | Torso is defined as the area form your hips to your collar bone.
          | Hits to limbs do not count as valid hits, but there is no "goal-tending": if an arm is hit while
          | directly blocking the torso, this counts as a kill. Attacks to the head are not valid and dangerous; intentional
          | targeting to the face may be ground for removal form the game.

         h3 Attacks may only be blocked by objects that would stop a .22 bullet/dagger. Thus, pillows, blankets, and thick coats
          | can not protect you. Doors, couches, and tables, however, can be used for cover. Intentional body armor
          | is not allowed.

         h3 Players at paid work or in class are essentially not playing KAOS, and may not shoot or be shot.

         h2 Stuns
         h3 If you determine the identity of your attacker (or if they are currently attacking you), you may "stun"
          | them by attacking them as if they were your target. This will render them incapable of killing you
          | for 12 hours. Both parties are responsible for keeping track of whether a stun is in effect. 

         h3 Stunned players are not out of the game, and may continue to gather information about their targets. 
          | Stunned players are in no way protected from the players hunting them, and may still stun their own
          | hunters. If they are killed by their hunter, their hunter will inherit you as a target, and be able to hunt you
          | immediately. 

         h2 Kills
         h3 If you successfully attack your target, you must report the killing online as soon as possible. If you
          | are killed by your target, you must confirm the kill online as soon as your killer registers the kill. Once 
          | confirmed, the killer will receive their new target and the victim will be eliminated. Elimination 
          | does not exclude one from possible invitation to a finals round.

         h2 Disputes
         h3 Try not to have any. If they occur, contact the moderator. The moderator will arbitrate any kill disputes, but the arbitration may 
          | consist of simply shooting all parties involved. By a good sport: be honest and trust your
          | competition to be honest as well.

         hr
         h1 Death List
         h2 Time Limit
         h3 When receiving a new target, you are alloted 48 hours to kill your target. After each successful kill,
          | you will be given a new 48 hours. If you break your time limit, you will be placed on "Death List".
         h2 The List
         h3 Those on Death List will be hunted by a shadowy group known as the Death Squad. They cannot be stunned
          | or killed. They may shoot you at any time, anywhere, with or without witnesses. They may use any weapon
          | of their choosing. 
         h3 After being placed on Death List, you will remain there until your demise, or until you've killed your
          | target. If you do, you will remain on Death List for another 12 hours before being removed.
         h3 If your target is on Death List, the Death Squad may end up killing them for you. If this occurs, 
          | you will immediately be given a new target. However, you will not receive a time extension, nor 
          | will you be removed from Death List if on it. For this
          | reason, it is better for you to kill your target rather than letting Death Squad do so.
         hr
         h1 Violations
         h3 Breaking the following rules will result in removal from the game.
         h2 Impersonation
         h3 Impersonating campus security, law enforcement, Death Squad, the moderator, or another player
          | is illegal. However, any other impersonation is both allowed and encouraged as a tactic.
         h2 Lying
         h3 You may not lie about the circumstances of a killing. After it is determined that an attack
          | was successful, both parties must admit their real names and confirm their relationship.
          | If another player asks you at any time whether you are living or dead, you must give them
          | a truthful answer. Finally, you may not lie to the moderator or the Death Squad about
          | any issue of relevance to the game. With these exceptions, all other forms of lying and
          | deception are allowed and encouraged.
         h2 Use of Force
         h3 The use of force to make or avoid attacks is strictly prohibited. For example, pushing 
          | open a door which is being held closed by another person is illegal.
         h2 Unethical or Impolite Behavior
         h3 It is normal to expect some violations of privacy during the game. Your assassin may enter
          | your dorm-room uninvited or call at odd hours. However, any abuse of anyone else's space, 
          | e.g. looking through desk drawers or personal belongings, will not be tolerated. You will
          | be responsible for any damages. If discovered in another player's room and asked to leave, 
          | you may try to make your kill, but you may not hang around. You are expected to behave 
          | courteously toward other players and non-players. Violation may result in being removed
          | form the game. Further questions about where to "draw the line" may be directed to your
          | moderator.
         h2 Disturbing Non-Players
         h3 Issues of privacy invasion usually do not affect KAOS players as strongly as non-participating
          | roommates. By playing KAOS, you grant implicit permission for other players to attempt to 
          | enter your living space; note that this includes otherwise private residences such as 
          | co-ops and off-campus housing. Before you sign up for the game, you should discuss the possible
          | problems with your roommate, suitemates, and/or housemates and reach an understanding. If anyone
          | you live with adamantly opposed to your participation in KAOS, respect his or her wishes 
          | and postpone your play until the following year.
         h2 Lock-In Players
         h3 KAOS is meant to be exciting, active, and paranoia-inducing. Players who stay in their rooms 
          | or off campus for extended periods of time without attempting kills are violating the spirit of the game.
          | Any player who is on Death List for an overly long period of time without correcting the problem 
          | will be removed from the game. You must contact your moderator ASAP if you plan to leave 
          | campus for 24 hours or longer.
         hr
         h1 End Game
         h2 Duration
         h3 Play will continue until three players remain, or until the moderator decides to end it. Typical 
          | game durations are around 5-8 days.
         h2 Finals
         h3 At game end, there will be three survivors. Depending on the preference of the moderator, a finals round will be run to determine a winner.
          | In any cases, your moderator will inform you how winners will be decided.
         hr
         h1 Contact
         h2 Email
         h3 Direct any questions to your administrator. Also be alert, as email is the primary mode of 
          | communication with players.
         hr
         h2 Have fun and stay alive.

      .modal-footer
       button#confirmAction.btn.btn-default(type='button', data-dismiss='modal') Booooring